@font-face {
    font-family: 'comica boom';
    /* set name */
    src: url(/cdn/fonts/Comica\ Boom.otf);
    /* url of the font */
}

@font-face {
    font-family: 'mat saleh';
    /* set name */
    src: url(/cdn/fonts/Mat\ Saleh.otf);
    /* url of the font */
}

@font-face {
    font-family: 'fsex';
    /* set name */
    src: url(/cdn/fonts/FSEX302.ttf);
    /* url of the font */
}


:root{
--foreground:#ccc;
--background:#000000;
--link-color-1:#0ff;
--error:#a00;
}

html,
body {
    user-select: none;
    font-family: fsex;
    padding: .0;
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
    text-shadow: 0 0 .2em var(--foreground);
    white-space: pre-wrap;
}

body {
    padding: 1em;
}

p{
    margin: 0;
    color: var(--foreground);
    text-shadow: 0 0 .2em var(--foreground);
}

a{
    margin: 0;
    color: var(--link-color-1);
    text-shadow: 0 0 .2em var(--link-color-1);
    text-decoration: none;
}

a:hover, a:focus{
    margin: 0;
    color: var(--background);
    text-shadow: 0 0 0 var(--background);
    background-color: var(--link-color-1);
}

a.nr{
    margin: 0;
    color: var(--error);
    text-shadow: 0 0 .2em var(--error);
    text-decoration: none;
}

a.nr:hover,a.nr:focus{
    margin: 0;
    color: var(--foreground);
    text-shadow: 0 0 0em var(--foreground);
    background-color: var(--error);
    text-decoration: none;
}

a > span {
    display: none;
}

a:hover > span {
        color: var(--foreground);
    text-shadow: 0 0 .2em var(--foreground);
        background-color: var(--background);
    display: initial;
    
}

a:hover > span::before {
    
    content:' - ';
}